#contenedorItemDetail{
    padding: 2%;
    display: flex;
    justify-content: center;
}
#botonCarrito{
    border-radius: 50%;
}
#contenedorIrAlCarrito{
    display: flex;
    justify-content: center;
}
#fondoCard{
    background-color: rgb(216, 216, 216);
}