#contenedorItemDetail{
    margin: 2%;
    display: flex;
    justify-content: center;
}
#botonCarrito{
    border-radius: 50%;
}
#contenedorIrAlCarrito{
    display: flex;
    justify-content: center;
}