#containerLoader{
    display:flex;
    flex-direction: column;
    justify-content: center;
    height:250px; 
    align-items: center
}
#itemDetail{
    background-image: url('../../images/fondo.jpg');
}
#cargandoProducto{
    font-family: serif;
    color: white;
}